* {
	margin: 0;
	padding: 0;
}
.logo {
  width: 100px;
}

a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.7;
}

.logo {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: sans-serif;
	background:  #13293D   /*gray*/;
	height: 8vh;
}

.nav-lista {
	list-style: none;
	display: flex;
}

.nav-lista li {
	letter-spacing: 3px;
	margin-left: 20px;
}

/*Mobile-menu*/

.mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
}

/********BOTÃO*******/

.agendar {
	display: inline;
	border-radius: 4px;
	float: right;
	background-color: #E8F1F2;
	border: 1px;
	text-align: center;
	width: 140px;
	transition: all 0.5s;
	cursor: pointer;
	position: relative;
  font-family: 'Helvetica', sans-serif;
  }
  
.agendar a {
  width: 155px;
  color: #13293D;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
    
.agendar a:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}
  
.agendar:hover a {
	width: 155px;
	padding-right: 15px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
  
.agendar:hover a:after {
	width: 155px;
	opacity: 1;
	right: 0;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

/* Seção Carrossel */

#carrossel {
  background: #f1a22b;
}

@media (max-width: 999px) {
	body{
		overflow: hidden;
	}
  .nav-list {
    position: absolute;
    top: 8vh; /* 8vh para ficar logo abaixo do header*/
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }

  .nav-list li {
  	margin-left: 0;
  	opacity: 0;
  }
  .mobile-menu {
  	display: block;
  }
}
 
.nav-list.active {
	transform: translateX(0);
}


/* Footer */

footer {
  position: relative;
  background-color: #FAAD59;
  text-align: center;
}

.texto-central {
  text-align: center;
}

/* IMAGENS DESENVOLVEDORES */

.imgdevs {
  width: 30px;
  height: 30px;
}