* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

.logo {
  position: relative;
  width: 200px;
  top: 20%;
	font-size: 24px;
	text-transform: uppercase;
	/* letter-spacing: 4px; */
  z-index: 1;
}

a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

nav {
  position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: sans-serif;
	background:  #f5b111;
	height: 8vh;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
  position: relative;
	letter-spacing: 3px;
	margin-left: 20px;
  top: 10px;
}

/****************************** Mobile-menu *********************************/
/****************************** Mobile-menu *********************************/
/****************************** Mobile-menu *********************************/

.mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
}

/**************************** BOTÃO *************************************/
/**************************** BOTÃO *************************************/
/**************************** BOTÃO *************************************/

.agendar {
  position: relative;
	display: inline;
	border-radius: 20px;
	border: 1px solid black;
	text-align: center;
	width: 160px;
	transition: all 0.5s;
	cursor: pointer;
  padding-top: 5px;
  font-family: Helvetica, sans-serif;
  }
  
.agendar a {
  width: 155px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
    
.agendar a:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}
  
.agendar:hover a {
	width: 155px;
	padding-right: 15px;
}
  
.agendar:hover a:after {
	width: 155px;
	opacity: 1;
	right: 0;
  text-align: center;
}


/*********************************************** COMEÇO ****************************/
/*********************************************** COMEÇO ****************************/
/*********************************************** COMEÇO ****************************/

#home {
  background-color: #f5b111;
  width: 100%; height: 650px;
  position: relative;
  display: inline-flex;
  box-shadow: 80px 50px 40px 10px gray;
}

/* FOTO DO DOG INICIAL */

.dog1 {
  position: relative;
  top: 50pt;
  width: 50%;  height: 65%;
  box-shadow: 20px 20px 50px 10px rgb(51, 39, 13) inset;
  border-radius: 500px 200px;
}


.card-initial {
  top: 7%;
  margin-left: 60px;
  background: #FACC2E;
  border-radius: 50px 50px 5px 5px; 
  box-shadow: 0px 50px 40px 0px;
}

.text-initial {
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 60px;
}


/********************************* BTN-HOME **********************************/
/********************************* BTN-HOME **********************************/
/********************************* BTN-HOME **********************************/

.botoes{
  position: relative;
  display: inline-flex;
  /* align-items: center; */
  top: -10px;
}

.btn-home {
  position: relative;
  display: inline-block;
  align-items: center;
  background: darkseagreen;
  border: none;
  width: 100%;  height: 30px;
  border-radius: 25px;
}

.btn-home:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/***************************** NOSSO ESPAÇO *********************************************************************/
/***************************** NOSSO ESPAÇO *********************************************************************/
/***************************** NOSSO ESPAÇO *********************************************************************/

.lado-direito {
  background-color: lightblue;
  position: relative;
}

.card {
  text-align: center;
  width: 748px;
  height: 420px;
  margin: 25px;
}

.nosso-espaco {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 650px;
  background-image: url(https://thumbs.dreamstime.com/b/fundo-e-textura-do-gramado-da-grama-verde-para-o-papel-de-parede-apresenta%C3%A7%C3%A3o-122573665.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

/* .dog-espaco {
  float: right;
  background: #96f2e9;
  bottom: 0;
} */

/********************************* Seção Carrossel *********************************/
/********************************* Seção Carrossel *********************************/
/********************************* Seção Carrossel *********************************/

#carrossel {
  background-image: url(https://thumbs.dreamstime.com/b/fundo-e-textura-do-gramado-da-grama-verde-para-o-papel-de-parede-apresenta%C3%A7%C3%A3o-122573665.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}


div.quadrado {
  background: #fff;
  border: 1px solid #808080;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 700px;
  border-radius: 30px 10px;
  margin-top: 50px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.pefildono > img{
  border: 2px solid red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
}

.imagemdog {
    position: relative;
}

p.textoquadrado {
  text-align: center;
}

h2.dono {
  position: relative;
  top: 20px;
  left: 20px;
}


@media (max-width: 720px) {
	body{
    height: auto;
    width: 100%;
		overflow: hidden;
	}

  .nav-list {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }

  .nav-list li {
  	margin-left: 0;
  	opacity: 0;
  }
  .mobile-menu {
  	display: block;
  }
}
 

/************************************* Footer ******************************/
/************************************* Footer ******************************/
/************************************* Footer ******************************/

footer {
  position: relative;
  background-color: grey;
  text-align: center;
}

.texto-central {
  text-align: center;
}

/* IMAGENS DESENVOLVEDORES */

.imgdevs {
  width: 30px;
  height: 30px;
}





/**************************** KEYFRAMES ********************************/
/**************************** KEYFRAMES ********************************/
/**************************** KEYFRAMES ********************************/

@keyframes mymove {
  0% {
    transform: translateY(0px);
    /* box-shadow: 0px 0px 0px gray inset; */
    border-radius: 20px;
    background-color: #23232e;
  }
  25% {
    transform: translateY(0px);
    /* box-shadow: 0px 30px 0px gray inset; */
    border-radius: 20px;
    background-color: #23232e;
    width: 90%;
  }
  50% {
    transform: translateY(0px);
    /* box-shadow: 0px -10px 0px gray inset; */
    border-radius: 20px;
    background-color: #23232e;
    width: 90%;
  }
  100% {
    transform: translateY(0px);
    /* box-shadow: 0px 0px 0px gray inset; */
    border-radius: 20px;
    background-color: #23232e;
    width: 90%;
  }
 }
 
 @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/********************************************************************************/
/***********************************MEDIA****************************************/
/********************************************************************************/

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 77.5vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .text-initial {
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-size: 6vh;
  }
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/******************************** EDUARDO  ******************************/

/* Eu mexi na parte do depoismento, mais ainda to pensado como vou fazer isso kkkkkk*/